<div>
<%- include('./_header.ejs'); %>

<div class="content">
  <div class="content-wrapper">
    <div class="content-itself">

      <%- include('_menu.ejs')%>

      <!-- Pages (generated in PHP, stored with DB) -->
      <div id="common-content" class="content-pane">
        <%- include('__reviews') %>
      </div>
    </div>
  </div>

  <div id="right-content">
    <%- include('reviews-right') %>
    <%- include('certs-right') %>
    <div class="clearBoth"></div>
  </div>
</div>

<br class="clearBoth"/>

<%- include('./_footer.ejs'); %>
<%- include('./_forms.ejs'); %>
</div>
